* {}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    font-family: 'Shrikhand', cursive;
}

main {
    flex: 1 0 auto;
    margin-top: 10vh;
}

button {
    background: none;
    border: none;
    margin: 0 auto;
}

img {
    height: 15vh;
    width: 10vw;
    margin: 0 auto;
}

button:active {
    background: none;
    border: none;
}

h5 {
    margin: 0 auto;
    text-align: center;
}

footer {
    font-family: 'Shrikhand', cursive;
}
.beer-display{
  font-family: 'Bree Serif', serif;
  text-align: center;
}
