* {}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    font-family: 'Shrikhand', cursive;
}

main {
    flex: 1 0 auto;
    margin-top: 10vh;
}

button {
    background: none;
    border: none;
    margin: 0 auto;
}

.btn-pic {
    height: 15vh;
    width: 10vw;
    margin: 0 auto;
}

button:active {
    background: none;
    border: none;
}

h5 {
    margin: 0 auto;
    text-align: center;
}

footer {
    font-family: 'Shrikhand', cursive;
}
.beer-display{
  font-family: 'Bree Serif', serif;
  text-align: center;
}
.result-pic{
  width: 20vw;
  height: 30vh;
}
#map{
  width: 30vw;
  height: 30vh;
  margin: 0 auto;
  margin-top: 5vh;
  display: none;
}
#locaitons{
  text-align: center;
  display: none;
  list-style: none;
}
.location-display{
  font-family: 'Bree Serif', serif;
  text-align: center;
}
.open{
  color: green;
}
.closed{
  color: red;
}
#open{
  list-style-type: none;
}
#closed{
  list-style-type: none;
}
